extends layout

block content
  h1= FoodWorld
  h1 Bievenidos a FoodWorld
  img(src="images/logo.jpg", alt="imagen1" with="400" height="200")
  center Nuestra diversa variedad de platos


block imgs
  img(src="images/food1.jpg", alt="imagen1" with="800" height="400")

  img(src="images/food2.jpg", alt="imagen1" with="800" height="400")

  img(src="images/food4.jpg", alt="imagen1" with="800" height="400")

  img(src="images/food5.jpg", alt="imagen1" with="800" height="400")

  img(src="images/food6.jpg", alt="imagen1" with="800" height="400")

  img(src="images/food7.jpg", alt="imagen1" with="800" height="400")

block contact
  center Contactanos
  h2 telefonos:
  a 635241 - 362514
  h2 direccion:
  a Av Suares 560 - villa familoar JBYR

  img(src="images/captura.jpg", alt="imagen1" with="800" height="400")


