body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/11/13/5a09b921b3cd0.jpeg");
  
}

a {
  color: #00B7FF;
}

center{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}